<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Essential.Diagnostics.ColoredConsoleTraceListener" version="2.0.206" targetFramework="net461" />
  <package id="Essential.Diagnostics.Core" version="2.0.206" targetFramework="net461" />
  <package id="Essential.Diagnostics.RollingFileTraceListener" version="2.0.206" targetFramework="net461" />
  <package id="NBitcoin" version="3.0.2.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net461" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
</packages>